# Supervised classification

In the data.csv there are letters (uppercases and lowercases) and numbers, 28x28 pixels in a row format.

* First, you need to know which labels are which, meaning you need to visualize some data to realize which number labels represents a letter, or a number.

In [57]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

%matplotlib inline

import matplotlib.pyplot as plt
from matplotlib import pyplot
from matplotlib.image import imread
from PIL import Image

In [23]:
# Your code here
letters = pd.read_csv('data_all.zip')

In [24]:
letters.shape

(116322, 785)

In [73]:
chars = letters.e.unique()

In [74]:
print(sorted(chars))

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0]

In [31]:
count = len(letters.e.unique())
print(count)

62

In [11]:
letters.head()

,e,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,36.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
letters.dtypes

e      float64
1      float64
2      float64
3      float64
4      float64
        ...
780    float64
781    float64
782    float64
783    float64
784    float64
Length: 785, dtype: object

In [47]:
X = letters.drop('e', axis=1)
y = letters['e']

In [50]:
X = np.array(X)
y = np.array(y)

In [66]:
y[0]

36.0

* Now, try to train a classifier model to predict the uppercases. Use every single model you know for classification.

In [ ]:
# Your code here
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.20)

In [ ]:
#Logistic Regression
logreg_model = LogisticRegression(solver='liblinear')
logreg_model.fit(X_train, y_train)

In [ ]:
logreg_model.score(X_train,y_train)

In [ ]:
logreg_model.score(X_test,y_test)

* Try to do the same thing with lowercases.

In [ ]:
# Your code here

* Try to do the same thing with numbers.

In [ ]:
# Your code here